---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Data Science & Analytics</div>
  </div>

  <HorizontalCard
    title="Web Analytics and Product Analytics for an E-commerce"
    img="/ecommerce.jpg"
    desc="This personal proejct involves working with a SQL relational database (six data tables) to analyse web traffic and product performance, aiming to optimise marketing strategies for a hypothetical e-commerce start-up."
    url="https://github.com/khinydnlin/e_commerce_analytics/blob/main/README.md"
    tags={["MySQL","Web Traffic Analytics","Product Analytics"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Evaluating Impacts of Cost-saving Interventions"
    img="/impacts.jpg"
    desc="This statistical project is based on data sourced from the American Causal Inference Conference 2022 Data Challenge. I used a quasi-experimental approach (the Difference-in-Differences method) to evaluate the effectiveness of policy interventions aimed at reducing healthcare expenditures."
    url="https://github.com/khinydnlin/impact_analysis_acic_challenge/blob/main/README.md"
    tags={["R","Causal Inference","DiD Regression","Hypothesis Testing"]}
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Fun Projects</div>
  </div>
  <HorizontalCard
    title="Webtoons Scraper"
    img="/webtoon.png"
    desc="In this project, I developed a Scrapy-based scraper to gather data from over 1,000 webtoons, including details like genres, ratings, and release status. Initially designed to collect data at a single point, the scraper can be adjusted to run at different intervals. This allows for continual updates as new webtoons are added."
    url="https://github.com/khinydnlin/webtoons_scraper/blob/main/README.md"
    tags={["Python","Scrapy","Webscraping"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Recreating Spotify Wrapped"
    img="/spotify.jpg"
    desc="As an avid user of Spotify, in this project, I explored my personal streaming data from Spotify to understand my listening habits throughout 2023. I have created an interactive dashboard in Tableau to showcase key insights. I plan on updating the dashboard every year to keep track of my music taste. "
    url="https://public.tableau.com/views/Spotify_V3/SpotifyWrapped?:language=en-GB&publish=yes&:sid=&:display_count=n&:origin=viz_share_link"
    tags={["Tableau"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="UX Research & Design for Product Development"
    img="/figma.png"
    desc="My personal interest in art and tech inspired me to work on these projects. I designed two mobile apps: Pet Shop App and Mental Health(Therapy) App, as well as a website for a restaurant. I conducted UX research to identify problems, and created wireframes, and prototypes using Figma to bring my ideas to life."
    url="https://www.figma.com/proto/wc35MJ5W6Bq4boz1J9USO6/Portfolio?type=design&node-id=32-79&t=W2nGMB6h8HrwUM2C-1&scaling=scale-down&page-id=0%3A1&starting-point-node-id=1%3A2&mode=design"
    tags={["Figma","Adobe XD","UXD","Usability Testing"]}
  />
</BaseLayout>
